

<div class="content">

  <div class="title">
    <h3>Educación En La Que Creo: </h3>
  </div>
  <div class="montessori">
    <div class="imgMontessori">
      <img src="../assets/montessori.png" alt="Montessori" title="Montessori" style="float: left;max-width: 100%;">
    </div>
    <div class="contentMontessori">
      <h4>MARIA MONTESSORI</h4>
      <p> " LA PRIMERA TAREA DE LA EDUCACIÓN ES AGITAR LA VIDA, PERO DEJARLA LIBRE PARA QUE SE DESARROLLE." </p>
      <a> " Ayúdame a hacerlo por mi mismo." </a>
    </div>
  </div>

  <br>
  <div class='metodoMontessori'>
    <p>  MÉTODO MONTESSORI</p>
    <ul>
      <li>Los niños han de considerarse seres competentes, capaces de tomar decisiones importantes.</li>

      <li>Observación del niño en el entorno como base para iniciar el desarrollo curricular.</li>

      <li>Muebles de la medida de los niños y creación de espacios a la medida de los niños.</li>

      <li>Participación de los padres.</li>

      <li>Definición de períodos sensibles del desarrollo los cuales proveen un enfoque para trabajo de clase que sea
        apropiado para una única estimulación y motivación para el niño.</li>

      <li>Importancia de la mente absorbente: la motivación sin límite de los niños pequeños para adquirir dominio
        sobre su entorno y perfeccionar sus experiencias y comprensión ocurren dentro de cada periodo sensible.</li>

      <li>Materiales didácticos autocorrectivos, ya que por medio del material va experimentando por sí mismo y
        corrigiendo sus errores.</li>

      <li>Su fin educativo es la autonomía en todos sentidos: intelectual en formar un pensador crítico, moral a
        través de la reciprocidad y el respeto mutuo, social al trabajar con sus pares, emocional a la seguridad que
        le brindan los límites, la educación de la voluntad y la autosuficiencia.</li>
    </ul>
  </div><br>


  <section class='section section1'>
    <p>
      "El niño tiene cien lenguages, cien manos, cien pensamientos, cien formas de pensar, de jugar y de hablar, cien
      siempre cien formas de escuchar, de sorprender, de amar, cien alegrías para cantar y entender".
      <br>Loris Malaguzzi
    </p>
    
    <img  src="../assets/loris.PNG" alt="Loris" title="Loris">
  </section><br>

  <section class='section2'>
    <p>
      "La experiencia nos confirma que los niños necesitan mucha libertad para indagar, probar, equivocarse y corregir.
      Para elegir dónde y con quién quieren invertir su curiosidad, sus emociones; para apreciar los infinitos recursos
      de las manos, de la vista, del oído, de las formas, de los sonidos y de los colores".
      <br>
      Loris Malaguzzi
    </p>

  </section><br>

  <section class=' section section3'>
    <img  src="../assets/lev.PNG" alt="Lev" title="Lev">
    <p>
      "Lo que un niño puede hacer hoy con ayuda, será capaz de hacerlo por él mismo mañana".
      <br>
      Lev Vigotski
    </p>
  </section><br>

  <section class='section section4'>
    <div>
    <p id='text1'>
      "Cuando le enseñas a un niño alguna cosa le estás quitando para siempre la oportunidad de descubrirlo por él
      mismo".
      <br>
      Jean piaget
    </p>
    <p id='text2'>
      "El conocimiento es la capacidad de modificar, transformar y operar en un objecto, o la idea, de manera que
      entiende el operador a través del proceso de transformación."
      <br>
      Jean piaget
    </p>
  </div>
    <img  src="../assets/jean.PNG" alt="Jean" title="Jean">


  </section>

</div>