
<div class="content" >

    <div class="title">
      <h3>Competencias y Habilidades</h3>
    </div>

    <div class="subtitle">
      <p>"El maestro enseña más con lo que es que con lo que dice".<br>
        Soren Kierkegaard
      </p>
    </div>

    <div>
      <img src="../assets/comp-hab.png" alt="competencias" style="width:100%;">
    </div>
    
    <div class="competencias">
      
      
      <div class="competencia comp1">
        <h4>Competencias</h4>
        <div style="border: 4px solid coral; margin:11px 45px;"></div>
        <ul>
          <li>CAPACIDAD CRÍTICA.</li>
          <li>CREATIVIDAD.</li>
          <li>COMPROMISO.</li>
          <li>ESCUCHA.</li>
          <li>ENERGÍA.</li>
          <li>FLEXIBILIDAD.</li>
          <li>INICIATIVA.</li>
          <li>ORGANIZACIÓN Y PLANIFICACIÓN.</li>
          <li>TRABAJO EN EQUIPO.</li>
          <li>PACIENCIA.</li>
        </ul>
        
      </div>
      <div class="competencia comp2">
        <h4>Habilidades</h4>
        <div style="border: 4px solid #ff66d9; margin:11px 45px;"></div>

        <div class="grid-container">
            <div class="grid-item"><img src="../assets/prezi.png" alt="prezi" ></div>
            <div class="grid-item"><img src="../assets/windowsmovie.png" alt="movie" ></div>
            <div class="grid-item"><img src="../assets/microsoft.png" alt="word" ></div>
            <div class="grid-item"><img src="../assets/glogster.png" alt="glogster"></div>
          </div>
        
      </div>
      <div class="competencia comp3">
        <h4>Idiomas</h4>
        <div style="border: 4px solid lightskyblue; margin:11px 45px;"></div>
        
        <p><a>INGLÉS</a>  :  B2<br><br>
        
        
          <a>FRANCÉS</a>  :  B2<br><br>


          <a>CATALAN</a>  : Segunda Lengua<br><br>
        
        
          <a>CASTELLANO</a>  :  Primera Lengua<br><br></p>
        
      </div>
      
    </div>


  </div>