<div class="img">
  <h3 style=""> Sobre Mi</h3>
  <img style="width: 100%" alt="Marta Pérez" src="../assets/sobreMi.png"><br>
</div>

<div class="info">
  <div class="row">
  <div class="estudios col-md-9 col-xs-12">

    <span style="font-weight:normal;font-family:cookie,cursive;font-size: 40px;text-decoration:underline; color:#00cc66">Mi
      Educación...
    </span><br>


    <span>EDUCACIÓN INFANTIL Y PRIMARIA:</span><br>

    <ul>
      <li>C.P. VORAMAR ALICANTE (1998-2007).<br></li>
    </ul>

    <span>EDUCACIÓN SECUNDARIA OBLIGATORIA:</span><br>

    <ul>
      <li>I.E.S. CABO DE LA HUERTA (2007-2011).<br></li>
    </ul>

    <span>BACHILLERAT0:</span><br>

    <ul>
      <li>Bachillerato científico.<br></li>

      <li>I.E.S. CABO DE LA HUERTA (2011-2013).<br></li>
    </ul>

    <span>GRADO EN EDUACCIÓN INFANTIL:</span><br>

    <ul>
      <li>UAB, UUNIVERSIDAD AUTÓNOMA DE BARCELONA (2013-2017).<br></li>

      <li>QUEEN MAUD UNIVERSITY COLLEGE IN TRONDHEIM, NORWAY (2017, ERASMUS).<br></li>
    </ul>

    <span style="font-style:italic;color:#F21D1D;">Finalización de los estudios: 9 de junio de 2017.<br></span>

    <div><img src="../assets/varias-inicio.png" alt="Varias" class='varias'></div>

  </div>

  <div class="card col-md-3 col-xs-12">
    <p>Información personal</p>
    <div style="border: 4px solid #00cc66; margin:17px;"></div>

    <div class="personal-info">
      <span class="key">Nombre: </span> <span class="value">Marta Pérez Arellano</span><br>

      <span class="key">Fecha de nacimiento: </span> <span class="value">25 de Febrero de 1995</span><br>

      <span class="key">Lugar de nacimiento: </span> <span class="value">Alicante</span><br>
    </div>

    <div class="buttons">
      <button class="flipped"> Creativa </button>

      <button class="relleno"> Responsable </button>

      <button class="water"> Trabajadora </button>
    </div>

    <div class='imgSobreMi'>
      <img src="../assets/marta-peque.png" alt="DePequeña" class="pequeña">
    </div>

  </div>
</div>
</div>