<!--The content below is only a placeholder and can be replaced.-->
<!--
<div class="title-cabecera">
	<h3>
		Educadora Infantil
	</h3>
	<h1>
		Marta Pérez
	</h1>
</div>
-->

<header class='header'>
	<div>
		<h1 style="color:blue">MARTA PÉREZ</h1>
		<h2 style="color:blue">EDUCADORA INFANTIL</h2>
	</div>
	<!--<div id='menuToggle'>

		<!--
    A fake / hidden checkbox is used as click reciever,
    so you can use the :checked selector on it.
	-->
	<!--
			<input type="checkbox" />

			
    Some spans to act as a hamburger.
   
			<span></span>
			<span></span>
			<span></span>
</div>-->
</header>

<nav class='navbar topnav' id="myTopnav">
	<ul id='menu'>
		<li *ngFor="let item of menuOptions" class="subnav">
			<a [class.active]='activeOption === item.title ' (click)="optionClicked(item.title)" routerLink='{{item.url}}'>{{item.title}}</a>
			
			<!-- if we have a submenu in any menu level-->
			<div class="subnav-content" *ngIf=item.submenu>
				<li class="" *ngFor="let sub of item.submenu">
					<a [class.active]='activeOption === sub.title' (click)="optionClicked(sub.title)" routerLink='{{sub.url}}'>{{sub.title}}</a>
				</li>
			</div>

		</li>
		<li class="contact" >
			<a [class.active]="activeOption === 'contacto'" (click)="optionClicked('contacto')" routerLink='/contacto'>CONTACTO</a>
		</li>
		<li href="javascript:void(0);" class="icon" (click)="burguerMenu()">
			<a><i class="fa fa-bars"></i></a>
		</li>
	</ul>
</nav>



<section class='section'>
	<router-outlet></router-outlet>
</section>


<footer class='footer'>
	<address>
		Created by Pablo Cabrera, all rights reserved
	</address>
	<div style="/*background-color:#e5e5e5;*/text-align:center;padding:10px;margin-top:7px;">© copyright Pablo Cabrera</div>
</footer>