<div class="row">
<div class="experienciasubmenu">
      <div class="item col-sm-3 col-xs-12" *ngFor="let item of menuOptions">
        <a [class.active]='activeOption === item.title' (click)="optionClicked(item.url)" routerLink='{{item.url}}'>{{item.title}}</a>
      </div>
</div></div>
<router-outlet></router-outlet>

<div class="content" *ngIf="!child" >

    <div class="ticket">
      <div class="title">
        Experiencia: prácticas y extraescolares.
      </div>
      <div class="subtitle">
        "Education is the most powerful weapon which   you can use to change the world". <br>﻿<span style="font-size: 15px;">Nelson Mandela</span>
      </div>
    </div>

    <div class="detalle">

      <div class="practicas">
        <div class="title1">
          PRÁCTICAS DURANTE EL GRADO DE EDUCACIÓN INFANTIL
        </div>
        
        <div style="border: 4px solid #0066ff; margin:5px; margin-left: 0;"></div>
        <div class="parrafo">
          Durante el Grado de Educación Infantil he realizado cuatro PRACTICUMS en diferentes escuelas públicas de Sabadell, 
          tanto guarderías como centros de Infantil y Primaria. El primero de este fue tan sólo de una semana, 
          los tres siguientes fueron de entre unos dos y tres meses. En cada uno de estos tres tuve que realizar un proyecto, 
          es decir, diseñar una serie de sesiones o actividades con los niños. 
          En el siguiente Power Point os muestro una pequeña pincelada de lo que fueron estos proyectos, 
          entre los que se encuentran una sala para experimentar con la luz y la oscuridad o una sala de arte.
        </div>
        <div>
          <a href="../assets/LES_MEVES_ESTADES_DE_PRÀCTIQUES.pptx" download>Haz click en aquí para descargar un powerpoint sobre mis estancias de prácticas.</a>
          <img src="../assets/practicas.png" alt="practicas" class="pequeña">
        </div>

      </div>

      <div class="frances">
        <div class="title2">
          MAESTRA DE FRANCÉS COMO ACTIVIDAD EXTRAESCOLAR
        </div>
        <div style="border: 4px solid #ff66d9; margin:5px; margin-left: 0;"></div>

        <div class="parrafo">
          Desde el Noviembre de 2015 y hasta el Enero de 2017 he estado trabajando como profesora de la extraescolar de francés en la escuela pública Miquel Martí y polo de Sabadell. Era trabajadora de la empresa 5passes, encargada de llevar a cabo estas actividades extraescolares, y el grupo de niños era de entre 8 y 10 años.<br>
          El trabajo consistía en elaborar proyectos mediante los cuales los niños aprendieran francés mediante actividades artísticas / plásticas, matemáticas, de lenguaje y físicas / aire libre. Voy llevar a cabo proyectos relacionados con temas como la magia, juegos del mundo o la ciencia.
        </div>
      </div>

      <div class="psicomotricidad">
        <div class="title3">
          DISEÑAR SESIONES DE PSICOMOTRICIDAD PARA ESCUELAS
        </div>
        <div style="border: 4px solid #00cc66; margin:5px; margin-left: 0;"></div>

        <div class="parrafo">
          Como trabajo de la universidad he podido vivir la experiencia de diseñar, junto con otras compañeras, sesiones de psicomotricidad con niños de entre 3 y 6 años, siguiendo la pedagogía de Acouturier. Además, de trabajar en la documentación de estas con el fin de poder tener material para poder analizar, reflexionar y COMPARTIR
        </div><br>

        <div>
          <img src="../assets/psicomotricidad.png" alt="psicomotricidad" class="pequeña">
        </div>
      </div>

    </div>

    
  </div>