<div class="img-M">
  <div class='imgInicio'>
    <img id='img' alt="Marta Pérez" src="../assets/Marta.png">
    <span class="pie-imagen">
      Marta Pérez Arellano<br>
      Grado en Educación Infantil
    </span>
  </div>
</div>



<!--<img id='img' alt="Marta Pérez" src="../assets/Marta.png"> mirar de ponerle al parrafo un borde y no dentro de una caja -->
<div class="boxes">
  <div class="box box1">
    <h4>
      Sobre Mi
    </h4>
    <p>
      Mi nombre es Marta Pérez y soy Graduada en Educación Infantil por la
      Universidad Autónoma de Barcelona en 2017. Accedí a la universidad
      por medio del Bachillerato científico y posteriormente la PAU (prueba de acceso a la universidad).
      <br><br>
    </p><a routerLink="/sobremi">Leer más</a>
  </div>

  <div class="box box2">
    <h4>
      Experiencia
    </h4>
    <p>
      Entre mis experiencias como maestra de Educación Infantil, se encuentran las diferentes
      estancias de prácticas realizadas y una estancia de Erasmus en Noruega con la que pude aprender
      cómo es ser maestra desde otro punto de vista.
      <br><br>
    </p><a routerLink="/experiencia">Más detalles</a>
  </div>

  <div class="box box3">
    <h4>
      Competencias & Habilidades
    </h4>
    <p>
      El trabajo en equipo, la organización, la comunicación y el pensamiento crítico
      son algunas de mis habilidades y competencias. Me gusta mucho el mundo científico
      y de las matemáticas.
      <br><br><br>
    </p><a routerLink="/competenciashabilidades">Saber más</a>
  </div>

</div>