<p>
  erasmus works!
</p>


<div class="noruega">
  <p>N O R U E G A ! </p>
</div>

<div class="experience container">
  <p>
    El último año del grado de Educación Infantil pude vivir la experiencia de un Erasmus. Los últimos seis meses los
    estudié en Noruega, concretamente en la ciudad de Trondheim.<br>
    Llevé a cabo un curso llamado "Outdoor Play and Learning in Norwegian Early Childhood Education" de 30 ETCS. Gracias
    a poder vivir esta experiencia pude aprender mucho sobre el Sistema de Educación Noruego y, sobre todo, la
    importancia que tiene en este el juego libre y el juego al aire libre, tema principal del curso que yo realicé.
    <br>
    <a href="../../../assets/erasmus/eramus_norway.pdf" download> Haz click en aquí para descargar un pdf sobre mi
      erasmus.</a>

  </p>
</div>
